<%= form_for [@team, @micropost] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Make a new bleep..." %>
  </div>
  <%= hidden_field_tag :team_id, :value => params[:id] %>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>